/* Regular */
@font-face {
  font-family: 'Roboto';
  src: url('/public/assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'Roboto';
  src: url('/public/assets/fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Roboto';
  src: url('/public/assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.screen-out {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  opacity: 0 !important;
  z-index: -999 !important;
}

*:not(:disabled):focus-visible {
  outline-width: 2px;
  outline-color: #fff;  
  outline-style: solid;
}

:root {
  --brand: #c4302b;
  --background: #181818;

  --black-500: #212121;
}
